.about {
    display: flex;
    flex-direction: column;
    height: 77vh;
    justify-content: space-between;
    text-align: center;

    header {
        font-size: 45px;
        font-weight: bold;
    }
    
    h2{
        font-size: 36px;
    }
}