.acount {
    display: flex;
    flex-direction: column;

    .edit-container {
        display: flex;
        gap: 20px;
        height: 76%;
    }
    
    .input-img-container {
        width: 50%;
        position: relative;
        display: flex;
        border: 1px solid black;
        
        input {
            cursor: pointer;
            opacity: 0;
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
    
    .text-input {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 50%;

        textarea{
            width: 100%;
            flex: 1;
        }
    }
}