.cart {
    h1 {
        margin: 20px 0;
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    a {
        @include button;    }

    .cta {
        @include button;
        background-color: $cta;
        color: $clr1;
        padding: 15px 40px;
    }

    .cta:hover {
        background-color: darken($cta, 10%);
    }
}