.item-details {
    display: flex;
    justify-self: center;
    max-width: 960px;
    justify-self: center;

    @media (max-width: $mobile-size) {
        flex-direction: column;
    }

    .img-container {
        display: flex;
        max-height: 76vh;
        max-width: 50%;
        margin-inline-end: 40px;

        @media (max-width: $mobile-size) {
            max-width: 100%;
            max-height: 70%;
            margin: 0;
        }
    }

    .decription{
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media (max-width: $mobile-size) {
            gap: 10px;
        }
    }

    .actions {
        display: flex;
        gap: 10px;
        align-items: center;

        button {
            @include button;
        }

        a {
            @include admin-button;
        }

        .cta {
            @include button;
            background-color: $cta;
            color: $clr1;
            padding: 15px 40px;
        }

        .cta:hover {
            background-color: darken($cta, 10%);
        }
    }

    svg {
        opacity: 0.65;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}